@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: Montserrat, sans-serif;
    font-size: 13px;
    color: #515076;
    background-image: url(./images/bg-image.png);
    background-repeat: no-repeat;
    background-size: 790px 697px;
    background-position: calc(50% - 160px) 0;
}

.products-cards {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 45px;
    max-width: 1110px;
    margin: 0 auto;
}

.title {
    font-weight: 400;
    font-size: 70px;
    line-height: 78px;
    text-align: center;
    padding-top: 220px;
    padding-bottom: 110px;
}

.product-card {
    width: 340px;
    min-height: 573px;
    background-color: #F7F7FA;
    padding: 25px;
    box-shadow: 2px 2px 10px 0 rgba(81, 80, 118, 0.1);
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.product-card:hover {
    transform: translateY(-8px);
    box-shadow: 12px 12px 25px 0 rgba(81, 80, 118, 0.1);
}

.product-card__skin-type {
    padding: 30px 0 5px 0;
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
    color: #A5A3B9;
}

.product-card__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    padding-bottom: 5px;
}

.product-card__description {
    line-height: 18px;
    padding-bottom: 15px;
}

.product-card__compound {
    line-height: 18px;
}

.product-card__compounds-lists {
    padding: 5px 0 5px 15px;
    line-height: 18px;
}

.product-card__price-row {
    display: flex; 
    justify-content: space-between; 
    padding-top: 25px;
    font-size: 20px;
    line-height: 24px;
}

.product-card__price-title {
    font-weight: 700;
}

.product-card__buy-btn {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    width: 102px;
    height: 32px;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 1);
    border: 2px solid rgba(70, 79, 96, 0.16);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    margin-top: 12px;
    font-size: 14px;
    line-height: 20px;
    color: rgba(81, 80, 118, 1);
}

.product-card__buy-btn:hover {
    border: 2px solid rgba(79, 219, 138, 0.2);
    cursor: pointer;
    color: rgba(23, 28, 38, 1);
}

.product-card__buy-btn:focus {
    background-color: rgba(247, 249, 252, 1);
    color: rgba(134, 143, 160, 1);
    border: 2px solid rgba(70, 79, 96, 0.2);
}

.product-card__purchase {
    margin-top: auto;
}

@media (max-width: 1127px) {
    body {
        background-position: calc(50% + 30px) 0;
    }

    .title {
        font-size: 50px;
    }
}

@media (max-width: 739px) {
    body {
        background-position: calc(50% + 30px) calc(20% - 600px);
        background-size: 400px 300px;
    }

    .title {
        font-size: 30px;
        padding-top: 100px;
        padding-bottom: 70px;
    }
}